<h2>Lista de Usuários</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a [routerLink]="['/users/edit', user.id]">Editar</a>
        <button (click)="deleteUser(user.id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="/users/create">Criar Novo Usuário</a>